<div *ngIf="authenticated !== null" class="container group-bg p-2">
    <h3 class="text-white text-center">Hi {{currentUser.username}}</h3>
    <div>
        <img src={{currentUser.avatar}} class="mx-auto d-block" alt="User avatar" height="150px">
        <form>
            <input type="file" name="upload" class="mx-auto mt-2 form-control-file d-inline-flex" style="max-width: 13%; min-width: 100px;" (change)="onFileAdded($event)">
            <input *ngIf="fileToUpload === undefined" type="submit" value="Upload" class="btn btn-success btn-sm d-inline-flex" (click)="onFileSubmit()">
        </form>
    </div>
    <br>
    <p class="text-white">Here are your current Groups and Channels.</p>
    <ul *ngFor="let group of userGroups" class="text-white">
        <li *ngIf="group.userID === currentUser._id">GROUP: {{group.groupName}}</li>
        <ul *ngFor="let channel of userChannels">
            <li *ngIf="channel.userID === currentUser._id && channel.groupID === group.groupID && channel.userID === group.userID">
                CHANNEL: <a [routerLink]="['/channels',channel.channelID]">{{channel.channelName}}</a>
            </li>
        </ul>
    </ul>
</div>
