<div *ngIf="authenticated === null" class="mx-auto login-bg">
    <form class="form-signin m-2 p-2">
        <h1 class="mb-3 font-weight-normal text-white">Sign in</h1>
        <br>
        <div class="form-group text-white">
            <label for="username">Username</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-info"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" required [(ngModel)]="enteredUsername" name="enteredUsername" class="form-control" placeholder="Enter username">
            </div>
            <div *ngIf="error !== ''" class="text-danger" style="font-size: 14px">
                {{error}}
            </div>
            <button type="submit" (click)="getData()" class="btn btn-info float-right mt-4" style="min-width: 115px">Login</button>

        </div>
    </form>
</div>