.login-bg {
    background-color: rgba(0,0,0,0.8) !important;
    max-width: 600px;
    margin-top: 20%;
    min-height: 300px;
}

.input-group-prepend span{
    width: 50px;
    color: black;
    border:0 !important;
    }