<div class="container p-2 channel-body">
    <h2 class="text-info">Talking in channel: 
        <span *ngIf="selectedChannel !== undefined" class="text-success">{{selectedChannel.channelName}}</span>
    </h2>
    <button class="btn btn-outline-light btn-sm" (click)="goBack()">Go back</button>
    <button *ngIf="currentUser.role !== 'User'" (click)="deleteChatHistory(selectedChannel)" class="btn btn-danger btn-sm ml-3">Clear Chat History</button>
    <br><br>
    <h4 class="text-white">Chat Messages</h4>
    <div class="my-3 msg_body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ng-container *ngFor="let message of messages">
            <div *ngIf="message.userID === currentUser._id; else observer">
                <div class="d-inline">
                    <img src="{{message.userimg}}" alt="Message owner's avatar" class="rounded-circle img_msg">
                </div>
                <div class="mb-4 msg_container_send">
                    <b>{{message.username}}:&nbsp;</b> {{message.message}}
                    <span class="msg_time">{{message.timestamp | date:'h:mm:ss a, dd MMM, yyyy'}}</span>
                </div>
            </div>
            <ng-template #observer>
                <div>
                    <div class="d-inline">
                        <img src="{{message.userimg}}" alt="Message owner's avatar" class="rounded-circle img_msg">
                    </div>
                    <div class="mb-4 msg_container">
                        <b>{{message.username}}:&nbsp;</b> {{message.message}}
                        <span class="msg_time">{{message.timestamp | date:'h:mm:ss a, dd MMM, yyyy'}}</span>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <form class="add_msg_bg">
        <div class="form-group">
            <label for="messagecontent" class="text-white">New Message</label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control" placeholder="Type your message...">
        </div>
        <div class="form-group">
            <button (click)="chat(messagecontent)" class="btn btn-primary">Chat</button>
        </div>
    </form>
</div>
