.channel-body {
    background-color: rgba(0,0,0,0.8) !important;
    max-width: 50em;
}

.msg_container{
    width: fit-content;
    margin-top: auto;
    display: inline-flex;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 15px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    max-width: 80%;
}

.msg_container_send{
    width: fit-content;
    display: inline-flex;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 15px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    max-width: 80%;
}

.msg_time {
    position: absolute;
    min-width: 150px;
    left:0;
    bottom: -20px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_body {
    overflow-y: auto;
    max-height: 35em;
}

.img_msg {
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.add_msg_bg {
    background-color: rgba(110, 110, 110, 0.501) !important;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

#msgContainer {
    height: auto;
}

#messagecontent {
    width: 93%;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.channel_head {
    background-color: rgba(110, 110, 110, 0.501) !important;
    padding: 10px;
    margin-bottom: 2%;
}

i {
    cursor: pointer;
}

.chat_image {
    max-width: 300px;
}