<div *ngIf="authenticated !== null || currentUser.groupAssis === true || currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" class="container mt-5">
    <div class="mb-4 admin-bg">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab *ngIf="currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" label="Users">
                <!-- Users Adminstration -->
                <div class="mb-4 p-2">
                    <form>
                        <h2 class="text-white">Users</h2>
                        <button type="submit" class="btn btn-success mr-2 mb-3" (click)="addNewUser()"><i class="fas fa-plus"></i> Add New User</button>
                        <button type="submit" class="btn btn-info mb-3" (click)="updateUsers()">Update All Users</button>
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <th>#</th>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th style="width:15%">Role</th>
                                <!-- <th>Groups</th>
                                <th>Channels</th> -->
                                <th *ngIf="currentUser.role === 'SuperAdmin'"></th>
                            </thead>
                            <tbody class="bg-white">
                                <tr *ngFor="let user of users; index as i">
                                    <ng-container *ngIf="user.username !== 'Super'">
                                    <td class="align-middle">{{i}}</td>
                                    <td class="align-middle text-center"><img src="{{user.avatar}}" alt="user-avatar" style="width:3em"></td>
                                    <td class="align-middle"><input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username" name="{{user.username}}"></td>
                                    <td class="align-middle"><input type="text" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="{{user.password}}"></td>
                                    <td class="align-middle"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="{{user.email}}"></td>
                                    <td class="align-middle" *ngIf="user.role !== 'SuperAdmin' && user.role !== 'GroupAdmin' && currentUser.role !== 'SuperAdmin'">
                                        <input type="text" class="form-control" placeholder="Role" [(ngModel)]="user.role" name="{{user.role}}">
                                    </td>
                                    <td class="align-middle" *ngIf="user.role === 'SuperAdmin' && currentUser.role === 'GroupAdmin'">
                                        <input type="text" class="form-control" placeholder="Role" [(ngModel)]="user.role" name="{{user.role}}" readonly>
                                    </td>
                                    <td class="align-middle" *ngIf="user.role === 'GroupAdmin' && currentUser.role === 'GroupAdmin'">
                                        <input type="text" class="form-control" placeholder="Role" [(ngModel)]="user.role" name="{{user.role}}" readonly>
                                    </td>
                                    <td class="align-middle" *ngIf="currentUser.role === 'SuperAdmin'">
                                        <input type="text" class="form-control" placeholder="Role" [(ngModel)]="user.role" name="{{user.role}}">
                                    </td>
                                    <!-- <td>
                                        <select class="form-control">
                                            <option *ngFor="let group of user.groups" placeholder="Groups">{{group.groupName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option *ngFor="let channel of user.channels" placeholder="Channels">{{channel.channelName}} ({{channel.groupName}})</option>
                                        </select>
                                    </td> -->
                                    <td class="align-middle" *ngIf="currentUser.role === 'SuperAdmin'"><button type="button" class="btn btn-danger" (click)="deleteUser(user)"><i class="fas fa-times"></i></button></td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </mat-tab>
            <mat-tab *ngIf="currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" label="Groups">
                <!-- Groups Adminstration -->
                <div class="my-2 p-2">
                    <form>
                        <h2 class="text-white">Groups</h2>
                        <button type="submit" class="btn btn-success mr-2" (click)="addNewGroup()"><i class="fas fa-plus"></i> Add New Group</button>
                        <button type="submit" class="btn btn-info" (click)="updateGroups()">Update Groups</button>
                        <div class="form-row mt-2">
                            <div class="col-md-4 mb-1">
                                <label class="text-white">Group Name</label>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label class="text-white">Users</label>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label class="text-white">Group Assistants</label>
                            </div>
                        </div>
                        
                        <div *ngFor="let group of groups" class="form-row">
                            <ng-container *ngFor="let ug of userGroups">
                                <ng-container *ngIf="ug.groupID === group.groupID && ug.username === currentUser.username && currentUser.role === 'GroupAdmin'">
                                    <div class="col-md-3 mb-3">
                                        <input type="text" class="form-control" [(ngModel)]="group.groupName" name="{{group.groupName}}" placeholder="Type in the new group name">
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-danger" (click)="deleteGroup(group)"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <select class="form-control">
                                            <ng-container *ngFor="let ug of userGroups">
                                                <option *ngIf="group.groupID === ug.groupID" [value]="ug.username" id="groupUser">{{ug.username}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-danger mr-1" (click)="deleteUserFromGroup(group)"><i class="fas fa-times"></i></button>
                                        <button type="button" class="btn btn-success" (click)="addUserToGroup(group)"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <select class="form-control">
                                            <ng-container *ngFor="let ga of groupAssisList">
                                                <option *ngIf="group.groupID === ga.groupID" [value]="ga.username" id="groupUser">{{ga.username}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-danger mr-1" (click)="deleteGroupAssis(group)"><i class="fas fa-times"></i></button>
                                        <button type="button" class="btn btn-success" (click)="addNewGroupAssis(group)"><i class="fas fa-plus"></i></button>
                                    </div>
                                </ng-container>
                            </ng-container>
                            
                            <ng-container *ngIf="currentUser.role === 'SuperAdmin'">
                                <div class="col-md-3 mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="group.groupName" name="{{group.groupName}}" placeholder="Type in the new group name">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger" (click)="deleteGroup(group)"><i class="fas fa-times"></i></button>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control">
                                        <ng-container *ngFor="let ug of userGroups">
                                            <option *ngIf="group.groupID === ug.groupID" [value]="ug.username" id="groupUser">{{ug.username}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger mr-1" (click)="deleteUserFromGroup(group)"><i class="fas fa-times"></i></button>
                                    <button type="button" class="btn btn-success" (click)="addUserToGroup(group)"><i class="fas fa-plus"></i></button>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control">
                                        <ng-container *ngFor="let ga of groupAssisList">
                                            <option *ngIf="group.groupID === ga.groupID" [value]="ga.username" id="groupUser">{{ga.username}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger mr-1" (click)="deleteGroupAssis(group)"><i class="fas fa-times"></i></button>
                                    <button type="button" class="btn btn-success" (click)="addNewGroupAssis(group)"><i class="fas fa-plus"></i></button>
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </div>
            </mat-tab>
            <mat-tab *ngIf="currentUser.groupAssis === true || currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" label="Channels">
                <!-- Channels Adminstration -->
                <div class="p-2">
                    <form>
                        <h2 class="text-white">Channels</h2>
                        <button type="submit" class="btn btn-success mr-2" (click)="addNewChannel()"><i class="fas fa-plus"></i> Add New Channel</button>
                        <button type="submit" class="btn btn-info" (click)="updateChannels()">Update Channels</button>
                        
                        <ng-container *ngFor="let group of groups">
                            <ng-container *ngFor="let ga of groupAssisList">
                                <ng-container *ngIf="ga.groupID === group.groupID && currentUser.role === 'User'">
                                    <div class="p-2 mt-2 mb-4 border border-info bg-dark">
                                
                                        <div>
                                            <h3 class="text-white">Group: {{group.groupName}}</h3>
                                            <hr class="border-white">
                                        </div>
                                        <div class="form-row text-white">
                                            <div class="col-md-6">
                                                <label>Channels</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Users</label>
                                            </div>
                                        </div>
                                        <div *ngFor="let channel of channels">
                                            <ng-container *ngIf="group.groupID === channel.groupID">
                                            
                                                <div class="form-row mb-2">
                                                    <div class="col-md-5 mb-2">
                                                        <input type="text" class="form-control" [(ngModel)]="channel.channelName" name="{{channel.channelName}}" placeholder="Type in the new channel name">
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button *ngIf="currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" type="button" class="btn btn-danger" (click)="deleteChannel(channel)"><i class="fas fa-times"></i></button>
                                                    </div>
                                                    
                                                    <div class="col-md-5">
                                                        <select class="form-control">
                                                            <ng-container *ngFor="let uc of userChannels">
                                                                <option *ngIf="channel.channelID === uc.channelID" [value]="uc.username" id="channelUser">{{uc.username}}</option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-danger mr-1 px-auto" style="max-width:35px" (click)="deleteUserFromChannel(channel)"><i class="fas fa-times"></i></button>
                                                        <button type="button" class="btn btn-success" style="max-width:40px" (click)="addUserToChannel(channel)"><i class="fas fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <div *ngIf="currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" class="p-2 mt-2 mb-4 border border-info bg-dark">
                                <div>
                                    <h3 class="text-white">Group: {{group.groupName}}</h3>
                                    <hr class="border-white">
                                </div>
                                <div class="form-row text-white">
                                    <div class="col-md-6">
                                        <label>Channels</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Users</label>
                                    </div>
                                </div>
                                <div *ngFor="let channel of channels">
                                    <ng-container *ngIf="group.groupID === channel.groupID">
                                    
                                        <div class="form-row mb-2">
                                            <div class="col-md-5 mb-2">
                                                <input type="text" class="form-control" [(ngModel)]="channel.channelName" name="{{channel.channelName}}" placeholder="Type in the new channel name">
                                            </div>
                                            <div class="col-md-1">
                                                <button *ngIf="currentUser.role === 'SuperAdmin' || currentUser.role === 'GroupAdmin'" type="button" class="btn btn-danger" (click)="deleteChannel(channel)"><i class="fas fa-times"></i></button>
                                            </div>
                                            
                                            <div class="col-md-5">
                                                <select class="form-control">
                                                    <ng-container *ngFor="let uc of userChannels">
                                                        <option *ngIf="channel.channelID === uc.channelID" [value]="uc.username" id="channelUser">{{uc.username}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger mr-1 px-auto" style="max-width:35px" (click)="deleteUserFromChannel(channel)"><i class="fas fa-times"></i></button>
                                                <button type="button" class="btn btn-success" style="max-width:40px" (click)="addUserToChannel(channel)"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>