<div *ngIf="authenticated !== null" class="container mt-5">
    <!-- Users Adminstration -->
    <div class="mb-4 p-2 admin-bg">
        <form>
            <h2 class="text-white">Users</h2>
            <button type="submit" class="btn btn-success mr-2 mb-3" (click)="addNewUser()"><i class="fas fa-plus"></i> Add New User</button>
            <button type="submit" class="btn btn-info mb-3" (click)="updateUsers()">Update All Users</button>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th style="width:15%">Role</th>
                    <th>Groups</th>
                    <th>Channels</th>
                    <th></th>
                </thead>
                <tbody class="bg-white">
                    <tr *ngFor="let user of users; index as i">
                        <td>{{i+1}}</td>
                        <td><input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username" name="{{user.username}}"></td>
                        <td><input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="{{user.email}}"></td>
                        <td><input type="text" class="form-control" placeholder="Role" [(ngModel)]="user.role" name="{{user.role}}"></td>
                        <td>
                            <select class="form-control">
                                <option *ngFor="let group of user.groups" placeholder="Groups">{{group.groupName}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control">
                                <option *ngFor="let channel of user.channels" placeholder="Channels">{{channel.channelName}} ({{channel.groupName}})</option>
                            </select>
                        </td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteUser(user)"><i class="fas fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Groups Adminstration -->
    <div class="mb-4 p-2 admin-bg">
        <form>
            <h2 class="text-white">Groups</h2>
            <div class="form-row">
                <div class="col-md-6 mb-1">
                    <label class="text-white">Group Name</label>
                </div>
                <div class="col-md-6 mb-1">
                    <label class="text-white">Users</label>
                </div>
            </div>
            
            <div *ngFor="let group of groups" class="form-row">
                <div class="col-md-5 mb-3">
                    <input type="text" class="form-control" [(ngModel)]="group.groupName" name="{{group.groupName}}" placeholder="Type in the new group name">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger" (click)="deleteGroup(group)"><i class="fas fa-times"></i></button>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="form-control">
                        <ng-container *ngFor="let user of users">
                            <ng-container *ngFor="let gp of user.groups">
                                <option *ngIf="group.groupName === gp.groupName">{{user.username}}</option>
                            </ng-container>
                            
                        </ng-container>
                        
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger mr-1"><i class="fas fa-times"></i></button>
                    <button type="button" class="btn btn-success" (click)="addUserToGroup(group)"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-2" (click)="addNewGroup()"><i class="fas fa-plus"></i> Add New Group</button>
            <button type="submit" class="btn btn-info" (click)="updateGroups()">Update Groups</button>
        </form>
    </div>
    
    <!-- Channels Adminstration -->
    <div class="p-2 admin-bg">
        <form>
            <h2 class="text-white">Channels</h2>
            
        </form>
    </div>
</div>